body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: linear-gradient(45deg, rgba(45, 74, 83, -0.3), rgba(255, 255, 255, -0.5)), url(../Imagenes/daniil-silantev-JEgC_sk19To-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
/* Titulos */
.titulo-flex{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.titulo-flex h1{
    font-size: 47px;
    color: black;
}
.titulo-flex h2{
    font-size: 20px;
    font-weight: normal;
    color: #2D4A53;
}
/* Card Externo */
.card{
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: 500px;
    padding: 40px 30px;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 4px solid #1f695b;
}
/* Formulario de registro */
.formulario{
    margin-top: 30px;
    text-align: left;
}
.formulario input{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #A3A39B;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
}
.boton-enviar{
    text-align: center;
}
.boton-enviar input[type="submit"] {
    width: 30%;
    text-align: center;
    background-color: #2D4A53;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 14px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
p{
    color: #2D4A53; 
    margin-bottom: 10px; 
    border-bottom: 3.5px solid #2D4A53; 
    padding-bottom: 5px;
}
.ayuda a{
    text-align: center;
    font-weight: bold;
    color: black;
}
h4{
    font-size: 25px;
    text-align: center;
}
label{
    font-weight: bold;
}
/* Responsive */
/* Media Query para (Telefonos) */
@media(max-width:768px){

.titulo-flex h1 {
font-size: 32px; 
}
    
.titulo-flex h2 {
font-size: 18px; 
}

.card {
padding: 20px 15px; 
}
    
.formulario input {
width: 87%; 
}
    
.boton-enviar input[type="submit"] {
width: 60%; 
}
    
p {
font-size: 14px; 
}
    
h4 {
font-size: 22px; 
}
    
.ayuda a {
font-size: 14px; 
display: flex;
text-align: center;
align-items: center;
margin: 0 auto;
flex-direction: column;
}
    

body {
text-align: left; 
}
}
    
/* Media Query para (dispositivos mas pequeños) */
@media(max-width: 480px) {
.titulo-flex h1 {
font-size: 26px; 
}
    
.card {
    padding: 15px 10px; 
}
    
.boton-enviar input[type="submit"] {
    width: 80%; 
}
    
p {
    font-size: 12px; 
}
}